<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <meta name="google-signin-client_id" content="-6t8ghsdrabmgh8vfsnimpofjnmmgcocn.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="container">
        <a class="mainLogo" href="/" alt="SOJU">
            <img src="/img/logo_mate.png" class="mainLogoImg">
        </a>
    <div class="loginForm">
        <form action="/loginform/login" method="post">
            <div>
                <p class="toEmail">이메일 로그인</p>
            </div>

            <div class="emailLoginForm">
                <div class="inputLoginBox">
                    <div class="inputLogin">
                        <input name="emailId" class="loginInput" type="text" placeholder="이메일 주소">
                        <input name="pwd" class="loginInput" type="password" placeholder="비밀번호">
                    </div>
                    <input class="btnLogin" type="submit" value="로그인">
                </div>

                <div class="statusLogin">
                    <input name="remember-me" class="remember" type="checkbox"><label>로그인 상태 유지하기 </label>
                </div>
                <div th:if="${error}" class="error">
                    <p th:text="${errorMsg}"></p>
                </div>
            </div>
        </form>

        <div class="findAndJoin">
            <a name="aFindId" class="aLink" href="/loginform/findidform">아이디 찾기</a>
            <label> | </label>
            <a name="aFindPwd" class="aLink" href="/loginform/findpwdform">비밀번호 찾기</a>
            <label> | </label>
            <a name="aJoin" class="aLink" href="/joinform">회원가입하기</a>
        </div>

        <div class="divOr">
            <hr />
            OR
            <hr />
        </div>

        <div class="socialLogin">
            <p class="toSocial">간편 로그인</p>
            <div class="btnSocial">
                <div class="naver btnSocial" id="naverIdLogin"></div>
                <a th:href="${googleUrl}" class="google btnSocial">
                    <img src="img/btn_google.png" style="height:45px;width:233px">
                </a>
            </div>
        </div>
    </div>
</div>

<!--JS----------------------------------------------------------------------------------------------------------------->
<!--네이버 콜백 메소드 이용-->
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<script>
        const naverLogin = new naver.LoginWithNaverId(
            {
                clientId: "O6Ia5cRtqbBq7SKu1wwd", // 네이버에서 발급받은 API 사용 ID
			    callbackUrl: "http://localhost:8888/loginform/naverlogincallback", // 로그인을 하고 정보동의 후 이동할 페이지 - 네이버에서 미리 등록해야한다.
			    loginButton: {color: "green", type: 3, height: 45}, // 위에 작성한 <div>태그에 만들어줄 로그인 버튼 모양 설정
			    isPopup: false, // callbackUrl을 팝업창으로 열건지 선택 - true : 팝업 / false : 다음 페이지
			    callbackHandle: true // 콜백메소드에 핸들메소드 사용여부
			}
        );
        naverLogin.init();

</script>
</body>
</html>