<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Naver 회원가입</title>
</head>
<body>
    <form action="/loginform/joinnaver" method="post" th:object="${memberDTO}">
        <input name="platform" type="hidden" value="naver">
        <input name="roleName" type="hidden" value="USER">
        <input id="hNickname" type="text">
        <input id="hPhone" type="text">
        <input id="hPhoneCheck" type="text">
        <ul>
            <li><label>아이디(이메일) </label><input th:field="*{emailId}" type="text" readonly></li>

            <li><label>이름 </label><input th:field="*{name}" type="text" readonly></li>

            <li><label>닉네임(별명) </label><input th:field="*{nickname}" type="text">
                <input type="button" value="중복확인" onclick="checkNickname(this.form)"><br></li>
            <li><label id="nicknameCheck"></label></li>

            <li><label>생일 </label><input th:field="*{birthday}" type="date" readonly></li>

            <li><label>성별 </label><label>남</label><input th:field="*{gender}" type="radio" value="M" readonly>
                <label>여</label><input th:field="*{gender}" type="radio" value="F" readonly></li>

            <li><label>휴대전화 </label><input th:field="*{phoneNumber}" type="tel" readonly>

            <li><label>주소 </label><input th:field="*{address}" type="text">
                <input id="btnAddress" type="button" value="주소찾기"></li>
            <li><label>상세주소 </label><input th:field="*{detailAddress}" type="text"></li>

            <li><label>관심분야 </label><select th:field="*{studyType}"><option value="">관심분야</option>
                                                                      <option value="computer">컴퓨터 / IT</option>
                                                                      <option value="math">수학</option>
                                                                      <option value="management">경영 / 마케팅</option>
                                                                      <option value="design">디자인</option>
                                                                      <option value="education">교육</option>
                                                                      <option value="literature">문학</option>
                                                                      <option value="engineering">공학</option>
                                                                      <option value="language">언어</option>
                                                                      <option value="employment">취업</option>
                                                                      <option value="entrance">입시</option>
                                                                      <option value="etc">기타</option></select></li>
        </ul>
        <input type="button" value="가입하기" onclick="join(this.form)">
        <input type="button" value="취소하기" onclick="location.href='/login'">
</form>
    <!--JS----------------------------------------------------------------------------------------------------------------->
    <script src="/js/httpRequest.js"></script>
    <script>
    //닉네임 중복체크 및 글자 수 제한
        function checkNickname(f) {
            let nickname = f.nickname.value; //입력한 닉네임 가져오기
            let nicknameCheck = document.getElementById("nicknameCheck");

            if ( nickname.length > 20 ) {
                nicknameCheck.innerHTML = "닉네임은 10자내로 작성해주세요 (영문만 작성시 20자까지 가능합니다.)";
            } else {
                nicknameCheck.innerHTML = "";
                let url = "/joinform/nicknamecheck";
                let param = "nickname=" + nickname;
                sendRequest(url, param, resultCheckNickname, "POST");
            }
        }

        function resultCheckNickname() {
             if ( xhr.readyState == 4 && xhr.status == 200 ) {
                 let data = xhr.responseText; //닉네임
                 let hNickname = document.getElementById("hNickname");

                 if ( data == "no" ) {
                    alert("이미 존재하는 닉네임입니다.");
                    hNickname.value = "false";
                 } else {
                    alert("사용 가능한 닉네임입니다.");
                    hNickname.value = data;
                 }
                 return;
             }
        }
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
    //주소 API
        window.onload = function() {
            document.getElementById("address").addEventListener("click", function() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        document.getElementById("address").value = data.address;
                        document.getElementById("detailAddress").focus();
                    }
                }).open();
            });
            document.getElementById("btnAddress").addEventListener("click", function() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        document.getElementById("address").value = data.address;
                        document.getElementById("detailAddress").focus();
                    }
                }).open();
            });
        }
    </script>
    <script>
        function join(f) {
            //입력한 정보들
            //emailId
            let emailId = f.emailId.value; //Email

            //name
            let name = f.name.value;

            //nickname
            let nickname = f.nickname.value;
            let hNickname = document.getElementById("hNickname").value; //닉네임 중복체크

            //birthday
            let birthday = f.birthday.value; //birthday

            //gender
            let gender = f.gender.value; //gender

            //phoneNumber
            let phoneNumber = f.phoneNumber.value; //phoneNumber
            let hPhoneCheck = document.getElementById("hPhoneCheck").value;

            //address
            let address = f.address.value;
            let detailAddress = f.detailAddress.value;

            //studyType
            let studyType = f.studyType.value;

            //플랫폼
            let platform = f.platform.value;

            let roleName = f.roleName.value;

            //유효성 검사

            //ID
            if ( emailId == '' ) {
                alert("아이디를 입력하세요");
                return;
            }

            //이름
            if ( name == '' ) {
                alert("이름을 입력하세요");
                return;
            }

            //닉네임
            if ( nickname == '' ) {
                alert("닉네임을 입력하세요");
                return;
            }
            //닉네임 형식
            if ( nickname.length > 20 ) {
                alert("닉네임의 길이는 10자 이내입니다.");
                return;
            }
            if ( nickname != hNickname ) {
                alert("닉네임 중복확인을 해주세요");
                return;
            }

            //birthday
            if ( birthday == '' ) {
                alert("생일을 입력하세요");
                return;
            }

            //gender
            if ( gender == '' ) {
                alert("성별을 선택하세요");
                return;
            }

            //phoneNumber
            if ( phoneNumber == '' ) {
                alert("핸드폰 번호를 입력하세요");
                return;
            }
            //hPhoneCheck
            if ( hPhoneCheck != "yes" ) {
                alert("핸드폰 인증을 확인해 주세요");
                return;
            }

            //address
            if ( address == '' ) {
                alert("주소를 입력하세요");
                return;
            }
            //detailAddress
            if ( detailAddress == '' ) {
                alert("상세주소를 입력하세요");
                return;
            }

            //studyType
            if ( studyType == '' ) {
                alert("관심분야를 선택하세요");
                return;
            }

            let url = "/joinform/join";
            let param = "emailId=" + emailId +
                        "&name=" + name +
                        "&nickname=" + nickname +
                        "&birthday=" + birthday +
                        "&gender=" + gender +
                        "&phoneNumber=" + phoneNumber +
                        "&address=" + address +
                        "&detailAddress=" + detailAddress +
                        "&studyType=" + studyType +
                        "&platform=" + platform +
                        "&roleName=" + roleName;
            sendRequest(url, param, resultJoin, "POST");
        }

        function resultJoin() {
            if ( xhr.readyState == 4 && xhr.status == 200 ) {
                let data = xhr.responseText;

                if (data == "no") {
                    alert("이미 가입된 회원정보가 있습니다.\n 입력한 정보확인 혹은 아이디/비밀번호 찾기를 이용해 주세요");
                    location.href = "/loginform";
                } else {
                    alert("가입이 완료되었습니다.\n 로그인 페이지로 이동합니다.");
                    location.href = "/loginform";
                }
            }
        }
    </script>
</body>
</html>